.progress-dots{
  display:flex;
  gap:12px;
}

.dot{
  width:12px;
  height:12px;
  border-radius:50%;
  border:2px solid white;
}

.dot.active{
  background:white;
}

.arrow{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.arrow.left{
  left: 2%;
}

.arrow.right{
  right: 2%;
}

.arrow:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.scroll-indicator{
  width:120px;
  height:6px;
  background:white;
  border-radius:4px;
  margin:auto;
}

.ai-scroll-top-button{
  position: fixed;
  right: 3%;
  bottom: 10%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.ai-scroll-top-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}